::EXECUTE::
NQueenJob boards/$INPUTFILE

::NOTIFY::
jabber: frej@jabber.dk

::MEMORY::
10

::DISK::
1

::CPUTIME::
100000

::RUNTIMEENVIRONMENT::
JVM_BYTECODE

::SANDBOX::
1

::VGRID::
NQueen

::PROJECT::
NQueen_Test
